/* Warna Body */
body{
    background-color: #0e1217;
}
/* Font install */





/* Navbar-Start */
.container{
    height: 10;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    border-radius: 30px;
}

img{
    height: 120px;
    margin-top: 60px;
    float: left;
    
}

h1.header{
    font-family: 'Satoshi', sans-serif;
    font-size: 80px;
    margin-left: 10px;
    color: white;
    display: inline-block;
    
}
/* Navbar-End */

/* Card Start */

.card{
    border: 5px double white;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    margin: auto;
}
.card h1{
    text-align: center;
    color: white;
    font-family: 'General Sans', sans-serif;
    font-size: 200px;
}
/* Card End */


/* Responsive */
